[Unit]
Description=Rebuild rEFInd config after rpm-ostree deployment
Requires=ostree-finalize-staged.service
After=ostree-finalize-staged.service

[Service]
Type=oneshot
ExecStart=/usr/bin/update-refind

[Install]
WantedBy=multi-user.target
