name: Build image
run-name: Build image

on: 
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/*.md'
      - '*.md'
      - 'docs/**'
      - 'compose/**'
      - '.*'
  schedule:
    - cron: '30 13 * * FRI'    # Triggers Fri at 13:30

jobs:
  io-image:
    runs-on: ubuntu-24.04
    steps:
    - name: Maximize build space
      uses: ublue-os/remove-unwanted-software@v8

    - name: Checkout
      uses: actions/checkout@v4

    - name: Podman login
      env:
        REGISTRY_USERNAME: ${{ secrets.REGISTRY_USER }}
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASS }}
      run: |
        echo "$REGISTRY_PASSWORD" | podman login docker.piaseczny.dev \
          --username "$REGISTRY_USERNAME" \
          --password-stdin

    - name: Build base image
      run: podman build -t docker.piaseczny.dev/machine/tygrys20:latest --target base .

    - name: Build NVIDIA image
      run: podman build -t docker.piaseczny.dev/machine/tygrys20:nvidia --target nvidia .

    - name: Push base image
      run: podman push docker.piaseczny.dev/machine/tygrys20:latest

    - name: Push NVIDIA image
      run: podman push docker.piaseczny.dev/machine/tygrys20:nvidia
