name: Build image
run-name: Build image

on: 
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/*.md'
      - '*.md'
  schedule:
    - cron: '30 13 * * FRI'    # Triggers Fri at 13:30

env:
  IMAGE_REGISTRY: docker.piaseczny.dev
  IMAGE_NAME: machine/nuclear

jobs:
  io-image:
    runs-on: ubuntu-24.04
    steps:
    - name: Maximize build space
      uses: ublue-os/remove-unwanted-software@v8

    - name: Mount BTRFS for podman storage
      id: container-storage-action
      uses: ublue-os/container-storage-action@911baca08baf30c8654933e9e9723cb399892140
      continue-on-error: true
      with:
        target-dir: /var/lib/containers
        mount-opts: compress-force=zstd:2

    - name: Checkout
      uses: actions/checkout@v6

    - name: Podman login
      env:
        REGISTRY_USERNAME: ${{ secrets.REGISTRY_USER }}
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASS }}
      run: |
        echo "$REGISTRY_PASSWORD" | podman login docker.piaseczny.dev \
          --username "$REGISTRY_USERNAME" \
          --password-stdin

    - name: Write Secure Boot key to file
      run: |
        install -m 600 /dev/null sb.key
        printf '%s' "$SB_PRIVATE_KEY" > sb.key
      env:
        SB_PRIVATE_KEY: ${{ secrets.SB_PRIVATE_KEY }}

    - name: Build base image
      run: podman build --secret id=sb-key,src=sb.key -t ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest --target base .

    - name: Build NVIDIA image
      run: podman build --secret id=sb-key,src=sb.key -t ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:nvidia --target nvidia .

    - name: Push base image
      run: podman push ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest

    - name: Push NVIDIA image
      run: podman push ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:nvidia
